node_modules
**/node_modules/**
.env
.env.*
!.env.example
.npm
.npmrc

.cache
**/.cache
public

.vscode
.DS_Store

# Optional eslint cache
.eslintcache

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Logs
logs
*.log
npm-debug.log*